<h1>Users index</h1>

<% @students.each do |student| %>
<p><%= student.id %></p>
<p><%= student.name %></p>
<p><%= student.tagline %></p>
<p><%= student.image_url %></p>
<p><%= student.bio %></p>
<p><%= student.email %></p>
<p><%= student.blog %></p>
<p><%= student.linkedin %></p>
<p><%= student.twitter %></p>
<p><%= student.fav_apps_one %></p>
<p><%= student.fav_apps_two %></p>
<p><%= student.fav_apps_three %></p>
<p><%= student.codeschool %></p>
<p><%= student.github %></p>
<p><%= student.coderwall %></p>
<p><%= student.stack %></p>
<p><%= student.treehouse %></p>


<% end %>
